{% extends "base.html" %}
{% load static %}
{% block content %}


    <section class="intro">
        <div class="container">
            {% for post in queryset %}
                <div class="row-lg-4">
                    <div class="col-lg-6">
                        <h4 class="">This is the result of your Search:</h4>
                        <a href="{{ post.get_absolute_url }}"><p class="text-big">
                            <h2>{{ post.title }}</h2></a>

                    </div>
                </div>
            {% empty %}
                <h1>No matching data Available of your Search<br><br>Please Search Again with Properly</h1>
            {% endfor %}
        </div>
    </section>


{% endblock content %}